extends layout

block content
  .container-fluid
    .row-fluid
      h2 Shard 0 - 0  transfer on testnet
      button(onclick='init()')  Click here to perform transaction
      h4#to
      h4#from
      h4#amount
      h4#result

